<?xml version="1.0"?>
<model>
    <name>Test Robot</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Magno, Juan</name>
        <email>juancarlitosjose.magno@gmail.com</email>
    </author>

    <description>
        For ROS programming practice
    </description>
</model>